:root{
    --color-red:#e6563b;
    --color-orange:#eb9d3a;
    --color-green:#7cb06c;
    --color-blue:#00aba9;
    --color-light:#f0f0f0;
    --color-muted:#e6e6e6;
}
h1,h2,h3,h4,h5{
    font-family: 'Anton', sans-serif;
}
h1{
    font-size:64px;
}
h2{
    font-size:48px;
}
h3{
    font-size:40px;
}
h4{
    font-size:32px;
}
h5{
    font-size:28px;
}
p{
    font-family: 'Abel', sans-serif;
}
.logo{
    width:105px;
    height:105px;
}
.icons{
    width:18px;
    height:18px;
}